<div class="header">
  <md-toolbar color="primary">
    <a class="header__logo" >
      <span>Pet shop</span>
    </a>
    <!--<a md-button routerLink="/pet-shop/product-list">Product list</a>-->
    <a md-button routerLink="/product-list">Product list</a>

    <span class="header__spacer"></span>

    <a md-button class="header__cart-button" routerLink="/cart">
      <span class="header__cart-button-content">

        <md-icon class="md-24" aria-label="Example icon-button with a heart icon">add_shopping_cart</md-icon>
        <span class="header__button-text">{{count}} Items</span>
      </span>
    </a>
  </md-toolbar>
</div>

